@import url(c:\Users\Ltdowl\Desktop\homework\goit-markup-hw-08\sass\utils\_modern-normalize.css);
:root {
  --text-color: #757575;
  --text-color-title: #212121;
  --primary-white-color: #ffffff;
  --dark-background: #2f303a;
  --grey-background: #f5f4fa;
  --accent-color: #2196f3;
  --hover-button: #188ce8;
  --nonactive-button: #f5f4fa;
  --color-header-line: #ececec;
  --image-background-not-img: #c4c4c4;
  --icon-not-active: #afb1b8;
  --blur-white-color: rgba(255, 255, 255, 0.6);
  --shadow-button: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --image-background: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
  --background-text: rgba(47, 48, 58, 0.8);
  --list-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --border-clients-active: 1px solid #2196f3;
  --border-clients-disabled: 1px solid #afb1b8;
  --icon-footer: rgba(255, 255, 255, 0.1);
  --portfolio-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --border-card: 1px solid #eeeeee;
}

.visually-hidden,
.checkbox-mark {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  position: relative;
  color: var(--text-color-title);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link.current {
  color: var(--accent-color);
}

.link.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .link.current::after {
    display: none;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  color: var(--text-color-title);
  font-family: inherit;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.section.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section:nth-child(2) {
  padding-bottom: 0;
}

@media screen and (max-width: 1199px) {
  .section:nth-child(2) {
    padding-bottom: 60px;
  }
}

.section:nth-child(4) {
  background-color: var(--grey-background);
}

.section__hero {
  max-width: 480px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--image-background))), url(../images/background/bg-mobile.jpg);
  background-image: linear-gradient(var(--image-background)), url(../images/background/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-color: var(--image-background-not-img);
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__hero {
    background-image: url("../images/background/bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .section__hero {
    max-width: 768px;
    background-image: url(../images/background/bg-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section__hero {
    background-image: url("../images/background/bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .section__hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../images/background/bg-dekstop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section__hero {
    background-image: url("../images/background/bg-dekstop@2x.jpg");
  }
}

.section__hero-title {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .section__hero-title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .section__hero-title {
    width: 696px;
  }
}

.section__hero-title-text {
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .section__hero-title-text {
    font-size: 44px;
    line-height: 1.36;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button.primary:hover, .button.primary:focus {
  color: var(--primary-white-color);
  background-color: var(--hover-button);
  -webkit-box-shadow: var(--shadow-button);
          box-shadow: var(--shadow-button);
}

.button.button-center {
  margin: 0 auto;
}

.button.secondary {
  padding: 6px 22px;
  color: var(--text-color-title);
  background-color: var(--nonactive-button);
}

.button.secondary:hover, .button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--hover-button);
  -webkit-box-shadow: var(--shadow-button);
          box-shadow: var(--shadow-button);
}

.button.secondary.active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.button-footer {
  margin: 0 auto;
}

.button__icon {
  margin-left: 10px;
}

.button-modal {
  margin: 0 auto;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icons__list {
  list-style: none;
  margin-right: 10px;
}

.social-icons__list:last-child {
  margin-right: 0;
}

.social-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover .social-icons__item,
.social-icons__link:focus .social-icons__item {
  fill: var(--primary-white-color);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
  border-radius: 100%;
}

.social-icons__item {
  fill: var(--icon-not-active);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link.footer-link {
  background-color: var(--icon-footer);
  border-radius: 100%;
}

.social-icons__link.footer-link:hover, .social-icons__link.footer-link:focus {
  background-color: var(--accent-color);
}

.social-icons__link.footer-link:hover .social-icons__item,
.social-icons__link.footer-link:focus .social-icons__item {
  fill: var(--primary-white-color);
}

.footer-icon {
  fill: var(--primary-white-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__text-header-dark {
  color: var(--text-color-title);
}

.logo__text-footer-white {
  color: var(--primary-white-color);
  display: inline-block;
  margin-bottom: 20px;
}

.logo.link-text {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 480px) {
  .backdrop {
    padding-top: 93px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .backdrop-block {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.close-backdrop {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-backdrop:hover, .close-backdrop:focus {
  fill: var(--accent-color);
}

.backdrop__modal {
  position: relative;
  padding: 40px;
  margin: 0;
  width: 100%;
  min-height: 581px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition-property: scale, -webkit-transform;
  transition-property: scale, -webkit-transform;
  transition-property: transform, scale;
  transition-property: transform, scale, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 480px) {
  .backdrop__modal {
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 450px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .backdrop__modal {
    max-width: 528px;
  }
}

.modal-text {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--text-color-title);
}

@media screen and (min-width: 1200px) {
  .modal-text {
    line-height: 1.15;
  }
}

.form-list {
  margin-top: 12px;
}

.form-list + .form-list {
  margin-top: 10px;
}

.form-list-text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
}

.form-list-input {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-input:focus ~ .modal-icon {
  fill: var(--accent-color);
}

.form-area {
  width: 100%;
  height: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-area::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-area:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-area::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-area:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-icon {
  position: absolute;
  top: 0;
  left: 15px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
}

.check-link {
  color: var(--accent-color);
}

.checkbox-text {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-left: 16.38px;
}

@media screen and (max-width: 1199px) {
  .checkbox-text {
    font-size: 12px;
  }
}

.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid var(--text-color-title);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 1200px) {
  .checkbox-icon {
    left: 15px;
  }
}

.icon-check {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  fill: var(--primary-white-color);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 1200px) {
  .icon-check {
    left: 15px;
  }
}

.checkbox-icon,
.icon-check {
  cursor: pointer;
  -webkit-transition-property: background-color, border, opacity;
  transition-property: background-color, border, opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-mark:checked ~ .checkbox-text .icon-check {
  background-color: var(--accent-color);
  border-radius: 4px;
  opacity: 1;
}

.checkbox-mark:checked ~ .checkbox-text .checkbox-icon {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.checkbox-mark:focus ~ .checkbox-text .checkbox-icon {
  outline: 2px solid;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 20;
  line-height: 0;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-menu-close {
  display: none;
}

.menu-button.is-open .icon-menu-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button__icon {
  height: 16px;
  fill: currentColor;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button__icon:hover, .menu-button__icon:focus {
  fill: var(--accent-color);
}

.header__menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__menu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    text-align: left;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    background-color: var(--primary-white-color);
  }
  .header__menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navigation-menu {
  list-style: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    display: none;
  }
}

.navigation-menu__item + .navigation-menu__item,
.contacts-menu__item + .contacts-menu__item {
  margin-top: 32px;
}

.navigation-menu__link {
  color: var(--text-color-title);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-menu__link:hover, .navigation-menu__link:focus {
  color: var(--accent-color);
}

.navigation-menu__link.current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header__menu-bottom {
    display: none;
  }
}

.contacts-menu {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .contacts-menu {
    display: none;
  }
}

.contacts-tel {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 479px) {
  .contacts-tel {
    font-size: 8vw;
  }
}

.contacts-mail {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 319px) {
  .contacts-mail {
    font-size: 8vw;
  }
}

.social__list {
  display: none;
}

@media screen and (max-width: 767px) {
  .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 64px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.social__list-link {
  display: block;
  padding: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social__list-link::after {
  content: "";
  margin-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social__list-item:last-of-type .social__list-link::after {
  border-right: none;
}

.header {
  border-bottom: 1px solid var(--color-header-line);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__navigation {
    margin-left: 93px;
  }
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contacts-link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.navigation__list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__list-link:hover, .navigation__list-link:focus {
  color: var(--accent-color);
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1199px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color);
}

.header__contacts-link:hover, .header__contacts-link:focus {
  color: var(--accent-color);
}

.header__contacts-icon {
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts-item:hover + .header__contacts-icon,
.header__contacts-item:focus + .header__contacts-icon {
  fill: var(--accent-color);
}

.navigation__list-item {
  margin-right: 50px;
}

.header__contacts-item {
  margin-right: 50px;
}

@media screen and (max-width: 1199px) {
  .header__contacts-item {
    margin-right: 0;
  }
}

.navigation__list-item:last-child,
.header__contacts-item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .excellence__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.excellence__list-title {
  color: var(--text-color-title);
  font-family: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .excellence__list-item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .excellence__list-item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.excellence__list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--grey-background);
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .business {
    display: none;
  }
}

.business__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.business__list-card {
  position: relative;
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.business__list-item {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  background: var(--background-text);
}

.business__list-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

.command__list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .command__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.command__list-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.command__list-card {
  margin-bottom: 30px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: var(--list-shadow);
          box-shadow: var(--list-shadow);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .command__list-card {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .command__list-card {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .command__list-card {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

@media screen and (max-width: 767px) {
  .command__list-card + .command__list-card {
    margin-top: 30px;
  }
}

.command__list-text-name {
  color: var(--text-color-title);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.command__list-text-proffesion {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

@media screen and (max-width: 767px) {
  .clients__list-item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients__list-item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list-item {
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.clients__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: var(--border-clients-disabled);
  border-radius: 4px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__list-link:hover, .clients__list-link:focus {
  border: var(--border-clients-active);
  fill: var(--accent-color);
}

.clients__list-link:hover .clients__list-icon,
.clients__list-link:focus .clients__list-icon {
  fill: var(--accent-color);
}

.clients__list-icon {
  fill: var(--icon-not-active);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__content {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.footer__content-title {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer__content-link,
.footer__content-link-text {
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__content-link {
  color: var(--blur-white-color);
}

.footer__content-link:hover, .footer__content-link:focus {
  color: var(--accent-color);
}

.footer__content-link-text {
  color: var(--primary-white-color);
}

.footer__content-link-text:hover, .footer__content-link-text:focus {
  color: var(--accent-color);
}

.footer__content-item {
  margin-bottom: 9px;
}

.footer__content-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-left {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-left {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-left {
    margin-right: 70px;
  }
}

.footer-center {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-center {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-right {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-right {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer__form {
  position: relative;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__form-input {
  margin-right: 12px;
}

.footer__form-area {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__form-area:focus {
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .footer__form-area {
    width: 358px;
    margin: 0;
  }
}

.footer__form-text {
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 16px;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: transform, color;
  transition-property: transform, color, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__form-area:focus + .footer__form-text,
.footer__form-area:not(:placeholder-shown) + .footer__form-text {
  -webkit-transform: translateX(-70px);
          transform: translateX(-70px);
  color: var(--primary-white-color);
}

@media screen and (max-width: 1199px) {
  .footer__form-area:focus + .footer__form-text,
  .footer__form-area:not(:placeholder-shown) + .footer__form-text {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    color: var(--primary-white-color);
  }
}

.portfolio__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .portfolio__navigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__navigation {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__navigation {
    margin-bottom: 50px;
  }
}

.portfolio__navigation-list {
  margin-right: 8px;
}

.portfolio__navigation-list:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .portfolio__navigation-list:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__gallery-list {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__gallery-list {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (max-width: 767px) {
  .portfolio__gallery-list + .portfolio__gallery-list {
    margin-top: 30px;
  }
}

.portfolio__gallery-link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__gallery-link:hover, .portfolio__gallery-link:focus {
  -webkit-box-shadow: var(--portfolio-shadow);
          box-shadow: var(--portfolio-shadow);
}

.portfolio__gallery-image {
  position: relative;
  overflow: hidden;
}

.portfolio__gallery-text-card {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--accent-color);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-white-color);
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
}

.portfolio__gallery-link:hover .portfolio__gallery-text-card,
.portfolio__gallery-link:focus .portfolio__gallery-text-card {
  -webkit-transform: translatey(0);
          transform: translatey(0);
  opacity: 1;
}

@media screen and (min-width: 320px) {
  .portfolio__gallery-text-card {
    padding: 15px;
  }
}

@media screen and (min-width: 480px) {
  .portfolio__gallery-text-card {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__gallery-text-card {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__gallery-text-card {
    padding: 63px 24px;
  }
}

.portfolio__gallery-block {
  padding: 20px 24px 20px 24px;
  border-left: var(--border-card);
  border-right: var(--border-card);
  border-bottom: var(--border-card);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__gallery-block {
    padding-right: 12px;
  }
}

.portfolio__gallery-title {
  color: var(--text-color-title);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__gallery-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */