.excellence__list {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
		margin-bottom: -30px;
	}
}
.excellence__list-title {
	color: var(--text-color-title);
	font-family: inherit;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	margin-bottom: 10px;
}
.excellence__list-item {

	@media screen and (min-width: 768px) {
		flex-basis: calc(100% / 2 - 30px);
		margin-left: 30px;
		margin-bottom: 30px;
	}
	@media screen and (min-width: 1200px) {
		flex-basis: calc(100% / 4 - 30px);
		margin-left: 30px;
		margin-bottom: 30px;
	}
}
.excellence__list-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--grey-background);
	border-radius: 4px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 30px;
}
