.portfolio__navigation {
	display: flex;
	@media screen and (max-width: 767px) {
		flex-wrap: wrap;
		margin-bottom: 40px;
	}
	@media screen and (min-width: 768px) {
		flex-wrap: nowrap;
		justify-content: center;
		text-align: center;
		margin-bottom: 30px;
	}
	@media screen and (min-width: 768px) {
		margin-bottom: 50px;
	}
}
.portfolio__navigation-list {
	margin-right: 8px;

	&:last-child {
		margin-right: 0;
	}
	@media screen and (max-width: 767px) {
		&:not(:nth-last-child(-n + 2)) {
			margin-bottom: 15px;
		}
	}
}
.portfolio__gallery {
	
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
		margin-bottom: -30px;	
	}
}
.portfolio__gallery-list {
	@media screen and (min-width: 768px) {
		flex-basis: calc(100% / 2 - 30px);
		margin-left: 30px;
		margin-bottom: 30px;
		}
	@media screen and (min-width: 1200px) {
		flex-basis: calc(100% / 3 - 30px);
	}
}
.portfolio__gallery-list + .portfolio__gallery-list {
	@media screen and (max-width: 767px) {
		margin-top: 30px;
	}
}
.portfolio__gallery-link {
	display: block;
	transition-property: box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		box-shadow: var(--portfolio-shadow);
	}
}
.portfolio__gallery-image {
	position: relative;
	overflow: hidden;
}
.portfolio__gallery-text-card {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	height: 100%;
	background-color: var(--accent-color);
	transform: translatey(100%);
	transition-property: transform, opacity;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	color: var(--primary-white-color);
	margin: 0;
	font-size: 18px;
	line-height: 1.56;
	.portfolio__gallery-link:hover &,
	.portfolio__gallery-link:focus & {
		transform: translatey(0);
		opacity: 1;
	}
	@media screen and (min-width: 320px) {
		padding: 15px;
	}
	@media screen and (min-width: 480px) {
		padding: 77px 24px;
	}
	@media screen and (min-width: 768px) {
		padding: 49px 24px;
	}
	@media screen and (min-width: 768px) {
		padding: 63px 24px;
	}
}
.portfolio__gallery-block {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-right: 12px;
}
	padding: 20px 24px 20px 24px;
	border-left: var(--border-card);
	border-right: var(--border-card);
	border-bottom: var(--border-card);
}
.portfolio__gallery-title {
	color: var(--text-color-title);
	font-family: inherit;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin-bottom: 4px;
}
.portfolio__gallery-text {
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
}
