.checkbox {
	position: relative;
	margin-top: 20px;
	margin-bottom: 30px;
}
.check-link {
	color: var(--accent-color);
}
.checkbox-text {
	display: block;
	text-align: center;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	padding-left: 36.38px;
}
.checkbox-icon {
	position: absolute;
	top: 50%;
	left: 15px;
	width: 16px;
	height: 16px;
	border: 2px solid var(--text-color-title);
	border-radius: 4px;
	box-sizing: border-box;
	transform: translateY(-50%);
}
.icon-check {
	position: absolute;
	top: 50%;
	left: 15px;
	opacity: 0;
	fill: var(--primary-white-color);
	transform: translateY(-50%);
}
.checkbox-icon,
.icon-check {
	cursor: pointer;
	transition-property: background-color, border, opacity;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-mark:checked ~ .checkbox-text .icon-check {
	background-color: var(--accent-color);
	border-radius: 4px;
	opacity: 1;
}
.checkbox-mark:checked ~ .checkbox-text .checkbox-icon {
	background-color: var(--accent-color);
	border: 2px solid var(--accent-color);
}
.checkbox-mark:focus ~ .checkbox-text .checkbox-icon {
	outline: 2px solid;
}
