.backdrop__modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 450px;
	transform: translate(-50%, -50%);
	padding: 40px;
	background-color: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


@media screen and (min-width: 1200px) {
	width: 528px;
}
}
.modal-text {
	display: block;
	text-align: center;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 0.03em;
	color: var(--text-color-title);

	@media screen and (min-width: 1200px) {
	line-height: 1.15;
}
}
.backdrop__modal-form {

}
.form-list {
	margin-top: 12px;
}
.form-list + .form-list {
	margin-top: 10px;
}

.form-list-text {
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 1.25;
	letter-spacing: 0.01em;
}
.form-list-input {
	position: relative;
}
.form-input {
	width: 100%;
	height: 40px;
	padding-left: 42px;
	box-sizing: border-box;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition-property: border-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&:focus {
		border-color: var(--accent-color);
		outline: none;
	}
	&:focus ~ .modal-icon {
		fill: var(--accent-color);
	}
}
.form-area {
	width: 100%;
	height: 120px;
	box-sizing: border-box;
	padding: 12px 16px;
	resize: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	font-family: inherit;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	&::placeholder {
		color: rgba(117, 117, 117, 0.5);
	}
	&:focus {
		border-color: var(--accent-color);
		outline: none;
	}
}
.modal-icon {
	position: absolute;
	top: 0;
	left: 15px;
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
