body {
	margin: 0;
	background-color: var(--primary-white-color);
	color: var(--text-color);
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

h1,
h2,
h3,
p {
	margin: 0;
}
ul {
	margin: 0;
	padding-left: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

.list {
	list-style: none;
}

.link {
	position: relative;
	color: var(--text-color-title);
	text-decoration: none;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link.current {
	color: var(--accent-color);
	&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: -1px;
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background-color: var(--accent-color);
		@media screen and (max-width: 767px) {
			display: none;
		}
	}
}
